/**
 * This file should get overwritten if Method 1 is used. If Method 2 is chosen,
 * remove this comment and start adding your styles to this file.
 */

/**
    Global changes
*/

html,
body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    /* The html and body elements cannot have any padding or margin. */
}
html {
    background: transparent;
}
body {
    /*background-image: url('/sites/all/themes/bt_theme/images/blug-gradient.png');*/
    padding-top: 70px;

}
.white {
    background: white;
}
.fa-10x {
    font-size: 10em !important;
}
.fa-8x {
    font-size: 8em !important;
}
.round {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
@font-face {
    font-family: 'CodePro'; /*a name to be used later*/
    src: url('/sites/all/themes/bt_theme/fonts/Code_Pro_Demo-webfont.ttf'); /*URL to font*/
}
@font-face {
    font-family: 'Cabin'; /*a name to be used later*/
    src: url('/sites/all/themes/bt_theme/fonts/CabinSketch-Bold.otf'); /*URL to font*/
}
@font-face {
    font-family: 'Seaside';
    src: url('/sites/all/themes/bt_theme/fonts/SEASRN__.ttf');
}
@font-face {
    font-family: 'MostWasted';
    src: url('/sites/all/themes/bt_theme/fonts/mostwasted-webfont.eot'); /* IE9 Compat Modes */
    src: url('/sites/all/themes/bt_theme/fonts/mostwasted-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/sites/all/themes/bt_theme/fonts/mostwasted-webfont.woff2') format('woff2'), /* Super Modern Browsers */
    url('/sites/all/themes/bt_theme/fonts/mostwasted-webfont.woff.woff') format('woff'), /* Pretty Modern Browsers */
    url('/sites/all/themes/bt_theme/fonts/mostwasted-webfont.ttf.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('/sites/all/themes/bt_theme/fonts/mostwasted-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}
.hr-style {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}
.top-to-bottom {
    border-width: 2px;
    border-style: solid;
    -webkit-border-image:
    -webkit-gradient(linear, 0 0, 0 100%, from(black), to(rgba(0, 0, 0, 0))) 1 100%;
    -webkit-border-image:
    -webkit-linear-gradient(black, rgba(0, 0, 0, 0)) 1 100%;
    -moz-border-image:
    -moz-linear-gradient(black, rgba(0, 0, 0, 0)) 1 100%;
    -o-border-image:
    -o-linear-gradient(black, rgba(0, 0, 0, 0)) 1 100%;
    border-image:
    linear-gradient(to bottom, black, rgba(0, 0, 0, 0)) 1 100%;
}

/**
    Navigation bar.
*/

#navbar {
    height: 71px;
}
#navbar ul a {
    font-family: 'CodePro';
}
.nav-container {
    width: 1400px;
}
.navbar-front {
    border-bottom: 5px solid #8cc1c1;
    margin-bottom: 10px;
}
.navbar-nav {
    padding-top: 10px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    border-radius: 10px;
}
.nav li a {
    padding: 13px 10px;
}
.site-name {
    font-family: MostWasted;
    display: inline-block;
    padding-left: 100px;
}
.site-name a {
    color: inherit;
    text-decoration: none;
}
.site-name a:hover {
    color: #31ac97;
}
.top-search {
    padding-top: 15px;
    display: inline-block;
    float: right;
}
.top-search .form-group {
    margin-bottom: 0px;
}
.top-search .form-text {
    border-radius: 0;
}



.homepage-section {
    padding-bottom: 20px;
}
.search-page-form .form-group {
    margin-bottom: 0px;
}
.search-api-page-results li {
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
}
.search-api-page-results h3 {
    margin-top: 5px;
    margin-bottom: 5px;
}
.search-api-page-results li:nth-of-type(2n) {
    /*background: #D7E6F7;*/
}

#skip-link {
    margin: 0;
    padding: 0;
}

.cont-fluid {
    margin-top: -20px;
}

.header-fluid {
    color: #f7f5f2;
    background: #2e3133;
    border-bottom: 5px solid #8cc1c1;
    border-top: 5px solid #8cc1c1;
    margin-bottom: 10px;
}

.page-info {
    display: table;
    margin: 0 auto;
    padding: 30px 0px 20px 0;
}
.page-header {
    /*font-family: Cabin;*/
    display: inline;
    padding-right: 10px;
    text-align: center;
    border: none;
}
.page-closing {
    /*font-family: Cabin;*/
    display: inline;
}
.page-info h3 {
    /*font-family: Cabin;*/
    display: inline;
    text-align: center;
}

/**
    Flexslider / homepage
*/
.slides {
    width: 100% !important;
}
.slides h2 {
    position: absolute;
    top: 50px;
    width: 100%;
}
.slides h2 span {
    color: white;
    font: bold 32px/45px Helvetica, Sans-Serif;
    letter-spacing: -1px;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
}

/**
 CTA section
*/

.cta-section img {
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.cta-section .cta-icon {
    align: center;
    text-align: center;
    padding: 10px 10px 20px 10px;
}
.cta-section h3 {
    text-align: center;
}
.cta-section p {
    text-align: center;
}
.cta-section a {
    color: inherit;
}

/**
    Search block form header
*/
.content-search {
    margin-top: -45px !important;
    padding-bottom: 10px;
}

/**
    Tag Cloud
*/
.category-container {
    margin-top: 20px;
}
.categories h2 {
    text-align: center;
}
.recent-posts-container {
    margin-top: 20px;
}
.recent-posts-title {
    text-align: center;
}
.categories a {
    display: inline-block;
    float: left;
    color: #FFF;
    line-height: 1em;
    text-decoration: none !important;
    white-space: nowrap;
    margin: 0 5px 5px 0;
    padding: 7px 10px;
    background: #31ac97;
    border-radius: 2px;
    overflow: hidden;
    transition: background-color 250ms linear;
}
.categories a:hover {
    background-color: #51d03d;
}
.categories span {
    display: inline;
    font-weight: bold;
    color: inherit !important;
    margin: 0 -10px 0 10px;
    padding: 7px 10px;
    background-image: url('../images/bg-white-20.png');
    border-radius: 0 2px 2px 0;
}

/*
 Disqus content
*/
.region-disqus {
    background: white;
    padding: 20px 20px 20px 20px;
}

.region-content {
    padding-bottom: 15px;
}

/**
    Bottom Content
*/
.bottom-content {
    margin-top: 20px;
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto -60px;
    /* Pad bottom by footer height */
    padding: 0 0 60px;
}

.text-center {
    clear: both;
}

.pre-footer {
    padding-bottom: 30px;
    color: #f7f5f2;
    background: #2e3133;
    border-top: 5px solid #8cc1c1;
}

/* Set the fixed height of the footer here */
#footer {
    padding-top: 20px;
    height: 60px;
    background-color: #e7e7e7;
}
.footercontainer {
    padding: 0 15px;
}
.footercontainer p {
    color: black;
    float: right;
}
.footercontainer .connect {
    float: left;
}
.footercontainer .connect a {
    color: inherit;
}
.footercontainer i {
    padding-left: 10px;
}
.hosted-on {
    margin-top: -12px;
}

div.codeblock {
    padding: 5px;
    border: 1px solid #CCC;
    background-color: #f6f6f2;
    margin-bottom: .5em;
}

.sticky-container {
    /*background-color: #333;*/
    padding: 0px;
    margin: 0px;
    position: fixed;
    right: -119px;
    top: 130px;
    width: 200px;
}
.sticky li {
    list-style-type: none;
    background-color: #333;
    color: #efefef;
    height: 43px;
    padding: 0px;
    margin: 0px 0px 1px 0px;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
}
.sticky li:hover {
    margin-left: -105px;
}
.sticky li img {
    float: left;
    margin: 5px 5px;
}
.sticky li p {
    padding: 0px;
    margin: 0px;
    text-transform: uppercase;
    line-height: 43px;
}
.sticky a {
    color: inherit;
    text-decoration: none;
}

.page-taxonomy-term h1 {
    margin-top: 0;
}
.page-taxonomy-term i {
    padding-right: 3px;
}


